body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mobileBackground {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: -20;
}

.desktopBackground {
    display: none;
}

.heroLocation label {
    color: #fff;
}

.descoverTitle {
    margin: 0;
}

.heroMobileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Edu AU VIC WA NT Hand";
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10rem;
    align-items: center;
}

.contactlink {
    text-decoration: none;
    background-color: #024950;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

.contactButton {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-family: "Edu AU VIC WA NT Hand";
}

.contactlink:hover {
    background: none;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 600;
}

.firstHighlight {
    margin-bottom: 1rem;
}

.firstHighlight p {
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-weight: bold;
    margin-top: 0rem;
    font-family: "Edu AU VIC WA NT Hand";
}

.seasonHeading {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Great Vibes", cursive;
}

.packageHeading {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Edu AU VIC WA NT Hand";
}

.seasonContent {
    margin-top: 3rem;
    padding: 1rem;
}

.packageContent {
    padding: 1rem;
    padding-top: 0rem;
}

.seasonHighlight img {
    height: 250px;
    width: 100%;
    transition: transform 0.3s ease;
}

.seasonHighlight img:hover {
    transform: scale(0.9);
}

.secondHighlight {
    display: none;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    color: #024950;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-front img {
    height: 250px;
    width: 100%;
    transition: transform 0.3s ease;
}

.flip-card-back {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

@media (min-width: 768px) {
    .secondHighlight {
        display: block;
    }

    .seasonHighlight img {
        height: 300px;
        width: 100%;
        transition: transform 0.3s ease;
    }

    .seasonHighlight {
        display: flex;
        flex-wrap: wrap;
    }
    .firstHighlight {
        width: 32%;
        margin-left: 1rem;
    }

    .desktopBackground {
        display: block;
        height: 500px;
        width: 100%;
        position: absolute;
        z-index: -20;
    }

    .mobileBackground {
        display: none;
    }
}
